<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Addr full adress</th>
      <th>Addr street name</th>
      <th>Addr street num</th>
      <th>Addr zip</th>
      <th>Addr city</th>
      <th>Addr state</th>
      <th>Dets beds</th>
      <th>Dets baths</th>
      <th>Dets is complex</th>
      <th>Dets stories</th>
      <th>Dets company owned</th>
      <th>Dets owner</th>
      <th>Amen parking</th>
      <th>Amen pets</th>
      <th>Amen washer dryer</th>
      <th>Amen pool</th>
      <th>Amen spa</th>
      <th>Amen gym</th>
      <th>Amen dishwasher</th>
      <th>Amen central air</th>
      <th>Amen heater</th>
      <th>Util gas</th>
      <th>Util electricity</th>
      <th>Util trash</th>
      <th>Util water</th>
      <th>Util tv</th>
      <th>Util wifi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.addr_full_adress %></td>
        <td><%= rental.addr_street_name %></td>
        <td><%= rental.addr_street_num %></td>
        <td><%= rental.addr_zip %></td>
        <td><%= rental.addr_city %></td>
        <td><%= rental.addr_state %></td>
        <td><%= rental.dets_beds %></td>
        <td><%= rental.dets_baths %></td>
        <td><%= rental.dets_is_complex %></td>
        <td><%= rental.dets_stories %></td>
        <td><%= rental.dets_company_owned %></td>
        <td><%= rental.dets_owner %></td>
        <td><%= rental.amen_parking %></td>
        <td><%= rental.amen_pets %></td>
        <td><%= rental.amen_washer_dryer %></td>
        <td><%= rental.amen_pool %></td>
        <td><%= rental.amen_spa %></td>
        <td><%= rental.amen_gym %></td>
        <td><%= rental.amen_dishwasher %></td>
        <td><%= rental.amen_central_air %></td>
        <td><%= rental.amen_heater %></td>
        <td><%= rental.util_gas %></td>
        <td><%= rental.util_electricity %></td>
        <td><%= rental.util_trash %></td>
        <td><%= rental.util_water %></td>
        <td><%= rental.util_tv %></td>
        <td><%= rental.util_wifi %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
